<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js">
		<script src="https://unpkg.com/vue"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
	<!-- <script>
	import VueFormGenerator from "assets/js/vue-form-generator/dist/vfg-core.js";
  import "assets/js/vue-form-generator/dist/vfg-core.css";
	</script> -->
</head>

<body>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-right">
				<button type="button" class="btn btn-secondary navbar-btn">I</button>
				<button type="button" class="btn btn-secondary navbar-btn">Love</button>
				<button type="button" class="btn btn-secondary navbar-btn">Foodtrucks</button>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="jumbotron" style="background-image: url('/Users/kathrynkoshinski/ut-coding-bootcamp/FoodTruckApp/image/little_pluses/background.png');"> -->


				<div class="jumbotron" style="background-image:  url(" little_pluses.png ");">

					<div class="border">

						<div class="text-center">


						<div id="title">Lunch Box</div>
						<h4>(Supporting Local Business!)
						<h2>Find Yo-Self A Food Truck!!</h2>
						<h2>Austin, Texas</h2>
						<img src="image/vintagePic.jpeg" style="height: 300px; width: 500px; border-radius: 10px; margin-top: 65px; border: 6px ridge black;">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<button onclick="getLocation()">Find My Location</button>
			<div id="map">
			</div>
			<div class="text-center">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-6">
			<!-- <div id =guitarPic>
				<img src="image/guitar.jpg" style="height: 125px; width: 115px; border:6px solid white;">
			</div> -->
		</div>
	
		<div class="col-md-6">

			<div id="addTruck">
				<div class="panel panel-default">
					<div class="panel-heading">Form</div>
					<div class="panel-body">
						<vue-form-generator :schema="schema" :model="model"></vue-form-generator>
					</div>
				</div>
			</div>


			<!-- <form id="addTruck" v-on:submit.prevent="onSubmit">
				<div class="form-group">
					<p>If you've found a Food Truck to recommend in Austin, please share. Spread the Love!</p>

					<label for="name">Name of the Food Truck</label>
					<input v-model="name" placeholder="Food Truck Name" id="ftName" class="form-control">
				</div>
				<div class="form-group">
					<label for="location">Location including street name and number.</label>
					<input v-model="loc" placeholder="123 S Congress Ave Austin, TX" id="location" class="form-control">
				</div>

				<div class="form-group">
					<label for="exampleTextarea">Your Review?</label>
					<textarea v-model="review" id="review" placeholder="Add your review" class="form-control" rows="3"></textarea>
				</div>
				<div id="foodType" class="radio">
						<input type="radio" id="one" value="Tacos" v-model="picked">
						<label for="one">Tacos</label>
						<br>
						<input type="radio" id="two" value="Burgers" v-model="picked">
						<label for="two">Burgers</label>
						<br>
						<input type="radio" id="three" value="Cupcakes" v-model="picked">
						<label for="three">Cupcakes</label>
						<br>
						<input type="radio" id="four" value="Other" v-model="picked">
						<label for="four">Other</label>
				</div>
				<button type="submit" class="btn btn-lg btn-primary" v-on:click="submit">Submit</button>

			</form> -->
		</div>
	</div>



	<footer>

	<div id = "footer">
	<!-- "background-image:  url("little_pluses.png");"
	<div id="austin">
	Austin
	</div>

	<div id="guitar">
	<img src="image/guitar.jpg" style="height: 105px; width: 115px; display: block; margin: auto">
	</div>
	<div id="texas">
	Texas
	</div>  -->
	
	<!-- Must have code for food truck icon-->
	Icons made by <a href="http://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
	</div>
</footer>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script async defer
     src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCVNNE9FZK9fjTgF7DMV1PHjKPwQEt0LxU&callback=initMap">
</script>
<script type="text/javascript" src="assets/js/map.js"></script> 
</body>

</html>
