fieldset.vue-form-generator *{box-sizing:border-box}fieldset.vue-form-generator .form-control{display:block;width:100%;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}fieldset.vue-form-generator span.help{margin-left:.3em;position:relative}fieldset.vue-form-generator span.help .icon{display:inline-block;width:16px;height:14px;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAA+UlEQVQ4ja3TS0oDQRAG4C8+lq7ceICICoLGK7iXuNBbeAMJuPVOIm7cqmDiIncIggg+cMZFaqCnZyYKWtB0df31V1VXdfNH6S2wD9CP8xT3KH8T9BiTcE7XBMOfyBcogvCFO9ziLWwFRosyV+QxthNsA9dJkEYlvazsQdi3sBv6Ol6TBLX+HWT3fcQZ3vGM5fBLk+ynAU41m1biCXvhs4OPBDuBpa6GxF0P8YAj3GA1d1qJfdoS4DOIcIm1DK9x8iaWeDF/SP3QU6zRROpjLDFLsFlibx1jJaMkSIGrWKntvItcyTBKzCcybsvc9ZmYz3kz9Ooz/b98A8yvW13B3ch6AAAAAElFTkSuQmCC");background-repeat:no-repeat;background-position:50%}fieldset.vue-form-generator span.help .helpText{background-color:#444;bottom:30px;color:#fff;display:block;left:0;opacity:0;padding:20px;pointer-events:none;position:absolute;text-align:justify;width:300px;transition:all .25s ease-out;box-shadow:2px 2px 6px rgba(0,0,0,.5);border-radius:6px}fieldset.vue-form-generator span.help .helpText a{font-weight:700;text-decoration:underline}fieldset.vue-form-generator span.help .helpText:before{bottom:-20px;content:" ";display:block;height:20px;left:0;position:absolute;width:100%}fieldset.vue-form-generator span.help:hover .helpText{opacity:1;pointer-events:auto;transform:translateY(0)}fieldset.vue-form-generator .field-wrap{display:flex}fieldset.vue-form-generator .field-wrap .buttons{white-space:nowrap;margin-left:4px}fieldset.vue-form-generator .field-wrap button,fieldset.vue-form-generator .field-wrap input[type=submit]{display:inline-block;padding:6px 12px;margin:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;touch-action:manipulation;cursor:pointer;user-select:none;color:#333;background-color:#fff;border:1px solid #ccc;border-radius:4px}fieldset.vue-form-generator .field-wrap button:not(:last-child),fieldset.vue-form-generator .field-wrap input[type=submit]:not(:last-child){margin-right:4px}fieldset.vue-form-generator .field-wrap button:hover,fieldset.vue-form-generator .field-wrap input[type=submit]:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}fieldset.vue-form-generator .field-wrap button:active,fieldset.vue-form-generator .field-wrap input[type=submit]:active{color:#333;background-color:#d4d4d4;border-color:#8c8c8c;outline:0;box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}fieldset.vue-form-generator .hint{font-style:italic;font-size:.8em}fieldset.vue-form-generator .form-group{display:inline-block;vertical-align:top;width:100%;margin-bottom:1rem}fieldset.vue-form-generator .form-group label{font-weight:400}fieldset.vue-form-generator .form-group.featured>label{font-weight:700}fieldset.vue-form-generator .form-group.required>label:after{content:"*";font-weight:400;color:red;position:absolute;padding-left:.2em;font-size:1em}fieldset.vue-form-generator .form-group.disabled>label{color:#666;font-style:italic}fieldset.vue-form-generator .form-group.error input:not([type=checkbox]),fieldset.vue-form-generator .form-group.error select,fieldset.vue-form-generator .form-group.error textarea{border:1px solid red;background-color:rgba(255,0,0,.15)}fieldset.vue-form-generator .form-group.error .errors{color:red;font-size:.8em}fieldset.vue-form-generator .form-group.error .errors span{display:block;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAiklEQVR4Xt2TMQoCQQxF3xdhu72MpZU3GU/meBFLOztPYrVWsQmEWSaMsIXgK8P8RyYkMjO2sAN+K9gTIAmDAlzoUzE7p4IFytvDCQWJKSStYB2efcAvqZFM0BcstMx5naSDYFzfLhh/4SmRM+6Agw/xIX0tKEDFufeDNRUc4XqLRz3qabVIf3BMHwl6Ktexn3nmAAAAAElFTkSuQmCC");background-repeat:no-repeat;padding-left:17px;padding-top:0;margin-top:.2em;font-weight:600}.vue-form-generator .field-checkbox input{margin-left:12px}.vue-form-generator .field-checklist .dropList,.vue-form-generator .field-checklist .listbox{height:auto;max-height:150px;overflow:auto}.vue-form-generator .field-checklist .dropList .list-row label,.vue-form-generator .field-checklist .listbox .list-row label{font-weight:400}.vue-form-generator .field-checklist .dropList .list-row input,.vue-form-generator .field-checklist .listbox .list-row input{margin-right:.3em}.vue-form-generator .field-checklist .combobox{height:auto;overflow:hidden}.vue-form-generator .field-checklist .combobox .mainRow{cursor:pointer;position:relative;padding-right:10px}.vue-form-generator .field-checklist .combobox .mainRow .arrow{position:absolute;right:-9px;top:3px;width:16px;height:16px;transform:rotate(0deg);transition:transform .5s;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGdJREFUOI3tzjsOwjAURNGDUqSgTxU5K2AVrJtswjUsgHSR0qdxAZZFPrS+3ZvRzBsqf9MUtBtazJk+oMe0VTriiZCFX8nbpENMgfARjsn74vKj5IFruhfc8d6zIF9S/Hyk5HS4spMVeFcOjszaOwMAAAAASUVORK5CYII=");background-repeat:no-repeat}.vue-form-generator .field-checklist .combobox .mainRow.expanded .arrow{transform:rotate(-180deg)}.vue-form-generator .field-checklist .combobox .dropList{transition:height .5s}.vue-form-generator .field-input .wrapper,.vue-form-generator .field-input input[type=radio]{width:100%}.vue-form-generator .field-input input[type=color]{width:60px}.vue-form-generator .field-input input[type=range]{padding:0}.vue-form-generator .field-input .helper{margin:auto .5em}.vue-form-generator .field-label span{display:block;width:100%;margin-left:12px}.vue-form-generator .field-radios .radio-list label{display:block}.vue-form-generator .field-radios .radio-list label input[type=radio]{margin-right:5px}.vue-form-generator .field-submit input{color:#fff!important;background-color:#337ab7!important;border-color:#2e6da4!important}

.weather {
	color: white;
	font-size: 20px;
	letter-spacing: 2px;
	padding-top: 20px;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bolder;
}

.city {
	font-size: 24px;
	margin: auto 0;
}




.border {
	border: 10px solid black;
	border-radius: 4px;
}

#austin {
	font-size: 50px;
	letter-spacing: 2px;
	display: block;
	position: absolute;
	margin-left: 470px;
}

#texas {
	font-size: 50px;
	letter-spacing: 2px;
position: relative;
display:  inline-block;

}

#name {
	font-size: 35px;
	letter-spacing: 2px;
padding-bottom: 20px;
border-bottom: 3px solid black;

}

#location {
padding-top: 30px;
	font-size: 35px;
	letter-spacing: 2px;
border-bottom: 3px solid black;

}

#type {
	padding-top: 30px;
		font-size: 35px;
		letter-spacing: 2px;
	border-bottom: 3px solid black;
	padding-bottom: 20px;
}

#reviewBox {
height: 130px;
width:  500px;
background-color: white;
}

#review {
	padding-top: 30px;
	border-bottom: 3px solid black;
	font-size: 35px;
	padding-bottom: 10px;
	padding-top: 30px;
}

#titles {
	padding: 20px;

}

#foodTruckImg {
	width:  60px;
	height:  70px;
	border-radius: 50px;
}

body {


border: 10px solid black;
background-image: url("../../image/lunchBoxWood.jpeg");
background-size:  cover;
}

#title {
border-top: 3px solid white;
font-family: 'Shadows Into Light', cursive;
font-weight: bolder;
font-size: 120px;
letter-spacing: 2px;
/*position: absolute;*/
top: 35%;
width: 100%;

text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);




}


h2 {
font-family: 'Shadows Into Light', cursive;
  top: 35%;
  width: 100%;

  text-shadow:     0 1px 0 hsl(174,5%,80%),
  	                 0 2px 0 hsl(174,5%,75%),
  	                 0 3px 0 hsl(174,5%,70%),
  	                 0 4px 0 hsl(174,5%,66%),
  	                 0 5px 0 hsl(174,5%,64%),
  	                 0 6px 0 hsl(174,5%,62%),
  	                 0 7px 0 hsl(174,5%,61%),
  	                 0 8px 0 hsl(174,5%,60%),

  	                 0 0 5px rgba(0,0,0,.05),
  	                0 1px 3px rgba(0,0,0,.2),
  	                0 3px 5px rgba(0,0,0,.2),
  	               0 5px 10px rgba(0,0,0,.2),
  	              0 10px 10px rgba(0,0,0,.2),
  	              0 20px 20px rgba(0,0,0,.3);
  }

.container {
font-family: 'Shadows Into Light', cursive;

}
#foodTruckImg {
margin-top: 100px;
margin-left: 90px;
}


.container-foodTruck {

border-bottom: 5px solid black;
position: center;

}

.jumbotron {
background-image: url("../../little_pluses/background.png")!important;
border-radius: 4px;
margin-top: 150px;
/*border-top: 50px solid black;*/
/*background-color: #c8bcac !important;*/
border: 50px solid white;
position: center;
}

form {
background-color: black;
border: 10px solid black;
margin-bottom: 25px;
}

#map  {
	/*border-bottom: 3px solid black;
	margin-bottom: 60px;*/
	height: 500px;
	width: 900px;
	margin: 0 auto;
}


p {
padding-top: 30px;
font-family: 'Shadows Into Light', cursive;
font-size: 40px;
text-align: center;
}

.form-group {
  background-color: grey;
  font-weight: bold;
}

input {
font-weight: bold;
}


label {
font-weight: bold;
font-size: 20px;
}

#exampleInputEmail1 {

background-color: #eeeeee;

}

#foodtruckEmail {
  background-color: #eeeeee;
}


#reviewTextarea  {
  background-color: #eeeeee;
}

#footer {
border-top:10px solid black;
height: 60px;
background-image: url("../../little_pluses/little_pluses.png");
font-family: 'Shadows Into Light', cursive;
background-color: black;
}

#newFTadditions {
	margin-top:0px;
	background-color: lightgrey;
	border: 10px solid black;
	margin-bottom: 25px;
	height: auto;
	background-image: url("little_pluses.png");

}

#ftAdded h1 {
	padding-left:20px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 36px;
	text-align: left;
	font-weight: bold;
}
#ftAdded p {
	padding-left:30px;
	padding-top:0px;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
	font-weight: normal;
}
#ftAdded ul li {
	list-style-type: none;
}
#ftAdded li {
	font-family: 'Shadows Into Light', cursive;
	font-size: 18px;
	line-height: 22px;
	text-align: left;
	font-weight: normal;

}

#map {
margin-bottom: 120px;
border: 50px solid grey;
margin-top: 200px;
height:  700px;
width: 1200px;
position: center;


}

#weatherBox {
height: 250px;
width: 1150px;
/*background-image: url("../../../image/clouds.jpeg");*/
background-color: white;
background-size: cover;
border: white solid 10px;
}

.weather {
margin-top: 37px;
background-color: white;
border: 15px solid grey;
color: grey;
font-weight:bolder;
margin-left: 40px;
margin-right: 40px;
font-size: 20px;
padding: 30px;
}
