
.border {

	border: 10px solid black;
}

#austin {
	font-size: 50px;
	display: block;
	position: absolute;
	margin-left: 470px;
}

#texas {
	font-size: 50px;
position: relative;
display:  inline-block;

}




#foodTruckImg {
	width:  60px;
	height:  70px;
	border-radius: 50px;
}

body {


border: 30px solid black;
background-image: url("../../image/lunchBoxWood.jpeg");
background-size:  cover;
}

#button {
font-weight: bold;
font-size: 40px;
display: block;
position: absolute;
margin-top: -7px;
margin-left: 1300px;

}



#title {

border-top: 3px solid white;

font-family: 'Shadows Into Light', cursive;
font-weight: bolder;
font-size: 120px;
/*position: absolute;*/
top: 35%;
width: 100%;

text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);




}


h2 {
font-family: 'Shadows Into Light', cursive;
  top: 35%;
  width: 100%;

  text-shadow:     0 1px 0 hsl(174,5%,80%),
  	                 0 2px 0 hsl(174,5%,75%),
  	                 0 3px 0 hsl(174,5%,70%),
  	                 0 4px 0 hsl(174,5%,66%),
  	                 0 5px 0 hsl(174,5%,64%),
  	                 0 6px 0 hsl(174,5%,62%),
  	                 0 7px 0 hsl(174,5%,61%),
  	                 0 8px 0 hsl(174,5%,60%),

  	                 0 0 5px rgba(0,0,0,.05),
  	                0 1px 3px rgba(0,0,0,.2),
  	                0 3px 5px rgba(0,0,0,.2),
  	               0 5px 10px rgba(0,0,0,.2),
  	              0 10px 10px rgba(0,0,0,.2),
  	              0 20px 20px rgba(0,0,0,.3);
  }

.container {
font-family: 'Shadows Into Light', cursive;

}
#foodTruckImg {

margin-top: 100px;
margin-left: 90px;
}


.container-foodTruck {

border-bottom: 5px solid black;
position: center;

}

.jumbotron {
background-image: url("../../little_pluses/background.png")!important;
border-radius: 25px;
margin-top: 100px;
/*border-top: 50px solid black;*/
/*background-color: #c8bcac !important;*/
border: 50px solid white;

}

form {
background-color: black;
border: 10px solid black;
margin-bottom: 25px;
}

#map  {
border-bottom: 3px solid black;
margin-bottom: 60px;

}


p {
padding-top: 30px;
font-family: 'Shadows Into Light', cursive;
font-size: 40px;
text-align: center;
}

.form-group {
  background-color: grey;
  font-weight: bold;
}

input {
font-weight: bold;
}


label {
font-weight: bold;
font-size: 20px;
}

#exampleInputEmail1 {

background-color: #eeeeee;

}

#foodtruckEmail {
  background-color: #eeeeee;
}


#reviewTextarea  {
  background-color: #eeeeee;
}

#footer {
border-top:10px solid black;
height: 60px;
background-image: url("../../little_pluses/little_pluses.png");
font-family: 'Shadows Into Light', cursive;
background-color: black;
}
